@import "tailwindcss";

@theme {
  --color-dark: #1b4955;
  --color-light: #ccecf4;
  --color-brand: #3cd3ad;
  --color-accent-1: #c6c01b;
  --color-accent-2: #da6b1c;
  --color-accent-3: #38ccf2;
  --color-accent-4: #ba58e0;
}
